.label-chart {
  color: #242826;
  font-size: 0.88rem;
  font-weight: 500;
}

.chart-description {
  color: #242826;
  font-size: 0.75rem;
}

.chart-container {
  position: relative;
  width: 100%;

  canvas {
    width: 100%;
    height: 100%;
  }
}
