.home-page {
  // Dynamically adjustable padding
  // Paramers clamp(Min, fuid, máx)
  padding: clamp(20px, 8vw, 160px) clamp(20px, 8vw, 120px);
  height: 100vh;
  background: #fff;

  header img {
    width: clamp(150px, 30vw, 354px);
    height: auto;
  }

  h1 {
    color: #242826;
    font-family: Manrope, Arial, Helvetica, sans-serif;
    font-size: clamp(40px, 10vw, 184px);
  }

  footer {
    h6 {
      color: #909291;
      font-size: clamp(32px, 4vw, 56px);
      margin-bottom: 0;
    }

    button {
      padding: 10px;
      min-width: 150px;
      margin-top: 1rem;
    }
  }
}
