<div class="d-inline-flex gap-1">
  <a
    data-bs-toggle="collapse"
    href="#multiCollapse"
    role="button"
    aria-expanded="false"
    aria-controls="multiCollapse"
    (click)="alterExpand()"
  >
    <p class="cycles-collapse">
      Selecione ciclos <span>(opcional)</span
      ><img
        class="pb-1"
        src="/icons/chevron-{{ expanded ? 'down' : 'up' }}.svg"
        alt="Seta para {{ expanded ? 'baixo' : 'cima' }}"
      />
    </p>
  </a>
</div>
<ng-container *ngIf="expanded">
  <hr class="m-0" />
</ng-container>
<div class="row mb-4">
  <div class="col">
    <div class="collapse multi-collapse" id="multiCollapse">
      <p style="color: #242826; font-size: 0.75rem">
        Por padrão as entidades são selecionadas automaticamente de acordo com
        os ciclos que você participa e suas prioridades
      </p>
      <div class="table-container">
        <div class="table-header">
          <div class="table-title">
            Ciclos
            <img src="/icons/chevron-down-blue.svg" alt="Seta para baixo" />
          </div>
          <div class="table-subtitle">
            <span>Selecionados/<br />Disponíveis</span>
            <span>Eventos para hoje</span>
          </div>
        </div>

        <div style="border: 1px solid #ddd; border-radius: 8px">
          <div class="table-section-label">
            Ciclos com entidades disponíveis ({{
              dataCycles?.cyclesWithAvailability
            }})
          </div>

          <table class="custom-table">
            <thead>
              <tr>
                <th class="p-0"></th>
                <th class="p-0"></th>
                <th class="p-0"></th>
                <th class="p-0"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cycle of dataCycles?.table">
                <td class="text-center ps-2 pe-0">
                  <input
                    type="checkbox"
                    [checked]="isCycleSelected(cycle.name
                    )"
                    (change)="toggleCycle(cycle)"
                  />
                </td>
                <td class="label-cycle">
                  <img
                    src="/icons/arrow-up-{{ cycle.priority }}.svg"
                    alt="Seta"
                  />
                  {{ cycle.name }}
                </td>
                <td>{{ cycle.selected }}</td>
                <td>{{ cycle.totalEvents}}</td>
              </tr>
            </tbody>
          </table>
          <div class="table-section-label">
            Ciclos sem entidades disponíveis ({{
              dataCycles?.cyclesWithoutAvailability
            }})
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
